.menu__hide-button {
    display: none
}

.menu {
    height: 141px;
    display: flex;
    align-items: center;
    background-color: #1F1F1F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px
}

.menu #hamburger {
    display: none
}

.menu__title {
    font-family: Arial, sans-serif;
    color: #fff;
    padding-left: 95px
}

.menu__nickname {
    padding-left: 21px;
    color: #838383;
    font-family: Arial, sans- serif;
    font-size: 13px
}

.menu__flex-end {
    display: flex;
    width: 73%;
    justify-content: flex-end
}

.menu__flex-align-center {
    display: flex;
    align-items: center
}

.menu__button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer
}

.menu__button--background-transparent {
    background-color: transparent
}

.menu__button--hide {
    display: none
}

.menu__button-background {
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 50px
}

.menu__button-background--rooms {
    background-image: url(img/message-square.png)
}

.menu__button-background--quit {
    background-image: url(img/sign-out-alt-solid-white.png)
}

.menu__button-background--users {
    background-image: url(img/users-white.png)
}

.menu__button--blue {
    background-color: #1a78d0;
    color: #fff
}

.menu__button--active {
    background-color: #cccccc;
    color: #000
}

@media screen and (max-width: 1200px) {
    .w-100 {
        width: 100%
    }

    .menu__nickname {
        padding-left: 0;
        padding-top: 10px;
        text-align: center
    }

    .menu__title {
        padding-left: 0;
        text-align: center;
        width: 100%
    }

    .menu__flex-align-center {
        display: block;
        align-items: unset
    }

    .menu__hide {
        display: none
    }

    .menu__button {
        margin-right: 0;
        margin-left: 1%
    }

    .menu__button--hide {
        display: block
    }
}

a {
    color: transparent
}

.container-chatrooms {
    min-height: calc(100vh - 141px - 108px)
}

.container-chatrooms .chatrooms {
    width: 33.3%;
    display: inline-flex;
    justify-content: center
}

.container-chatrooms .chatrooms--padding-top {
    padding-top: 65px
}

.container-chatrooms .chatrooms__hover :hover {
    background-color: #0f7be0
}

.container-chatrooms .chatrooms__chatroom {
    width: 377px;
    padding: 20px;
    height: 82px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px
}

.container-chatrooms .chatrooms__chatroom--light-gray {
    background-color: #515151
}

.container-chatrooms .chatrooms__chatroom--blue {
    background-color: #0f7be0
}

.container-chatrooms .chatrooms__chatroom_title {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20pt
}

.container-chatrooms .chatrooms__title {
    color: #fff;
    font-family: Arial, sans-serif
}

.container-chatrooms .chatrooms__flex {
    display: flex;
    height: 50%
}

.container-chatrooms .chatrooms__inline-flex {
    display: inline-flex;
    width: 49%
}

.container-chatrooms .chatrooms__inline-flex--flex-end {
    justify-content: flex-end
}

.container-chatrooms .chatrooms__text {
    color: #5c5c5c;
    font-family: Arial, sans-serif;
    font-size: 15px
}

.container-chatrooms .chatrooms__users {
    color: #CCCCCC
}

.container-chatrooms .chatarea {
    width: 66.7%;
    height: 688px;
    background-color: #e3e3e3;
    float: right;
    padding-left: 36px;
    padding-top: 25px;
    padding-right: 42px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse
}

.container-chatrooms .chatarea .messages {
    list-style: none;
    min-height: inherit;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column
}

.container-chatrooms .chatarea .messages .flex-end {
    display: flex;
    justify-content: flex-end
}

.container-chatrooms .chatarea .messages__text {
    display: flex;
    align-items: center
}

.container-chatrooms .chatarea .messages--send {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #313131;
    width: 67%;
    align-self: flex-end
}

.container-chatrooms .chatarea .messages--send-margin-top {
    margin-top: 86px
}

.container-chatrooms .chatarea .messages--received {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #1379db;
    width: 67%
}

.container-chatrooms .chatarea .messages--received-margin-top {
    margin-top: 33px
}

.container-chatrooms .chatarea__message {
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 10px
}

.container-chatrooms .chatarea__users {
    width: 42.8%;
    display: inline-flex;
    flex-direction: column;
    height: 667px;
    max-height: 667px;
    padding-top: 107px;
    padding-bottom: 64px
}

.container-chatrooms .chatarea__users--p-m-left {
    margin-left: 5%;
    padding-left: 47px
}

.container-chatrooms .chatarea__user-list {
    font-size: 14pt;
    font-family: Arial, sans-serif
}

.container-chatrooms .chatarea__user-list-name {
    padding-bottom: 18px
}

.container-chatrooms .chatarea__user-list-room {
    display: inline-block;
    text-align: right;
    width: 100%;
    max-width: 60%;
    font-size: 10pt;
    align-items: center
}

.container-chatrooms .chatarea__user-list-room--online {
    color: #000
}

.container-chatrooms .chatarea__user-list-room--offline {
    color: #979797
}

.chatrooms-background {
    width: 33.3%;
    background-color: #3e3e3e;
    height: 100vh;
    position: absolute;
    z-index: -1
}

@media screen and (max-width: 1201px) {
    .container-chatrooms .chatarea {
        display: none;
        float: none;
        width: 100%;
        background-color: #292929
    }

    .chatrooms-background {
        display: none
    }

    .container-chatrooms .chatrooms {
        width: 100%;
        display: flex;
        justify-content: center
    }

    .container-chatrooms .chatrooms__chatroom--blue {
        background-color: transparent
    }

    .container-chatrooms .chatrooms__chatroom_title {
        display: none
    }

    .container-chatrooms .chatrooms__chatroom--light-gray {
        background-color: transparent
    }
}

.container-users {
    min-height: calc(100vh - 141px - 108px)
}

.container-users .users {
    width: 33.3%;
    display: inline-flex;
    justify-content: center
}

.container-users .users--margin-top {
    margin-top: 65px
}

.container-users .users__chatroom {
    width: 377px;
    padding: 20px;
    height: 82px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 10px
}

.container-users .users__chatroom--blue {
    background-color: #0f7be0
}

.container-users .users__chatroom--light-gray {
    background-color: #515151
}

.container-users .users__chatroom_title {
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 20pt
}

.container-users .users__title {
    color: #fff;
    font-family: Arial, sans-serif
}

.container-users .users__flex {
    display: flex;
    height: 50%
}

.container-users .users__inline-flex {
    display: inline-flex;
    width: 49%
}

.container-users .users__inline-flex--flex-end {
    justify-content: flex-end
}

.container-users .users__text {
    color: #5c5c5c;
    font-family: Arial, sans-serif;
    font-size: 15px
}

.container-users .users__users {
    color: #CCCCCC
}

.container-users .userarea {
    width: 66.7%;
    max-height: 688px;
    background-color: #e3e3e3;
    float: right
}

.container-users .userarea__users {
    width: 42.8%;
    display: inline-flex;
    flex-direction: column;
    height: 667px;
    max-height: 667px;
    padding-top: 107px;
    padding-bottom: 64px
}

.container-users .userarea__users--p-m-left {
    margin-left: 5%;
    padding-left: 47px
}

.container-users .userarea__user-list {
    font-size: 12pt;
    font-family: Arial, sans-serif;
    list-style: none
}

.container-users .userarea__user-list ::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    background-color: #0fdc66;
    border-radius: 100%;
    margin-left: -1em;
    margin-right: 12px
}

.container-users .userarea__user-list-name {
    padding-bottom: 18px
}

.container-users .userarea__user-list-name ::before {
    content: none
}

.container-users .userarea__user-list-room {
    display: inline-block;
    text-align: right;
    width: 100%;
    max-width: 60%;
    font-size: 10pt;
    align-items: center
}

.container-users .userarea__user-list-room--online {
    color: #000
}

.container-users .userarea__user-list-room--offline {
    color: #979797
}

@media screen and (max-width: 1201px) {
    .chatrooms-background {
        display: none
    }

    .container-users .users {
        width: 100%;
        display: flex;
        justify-content: center
    }

    .container-users .users__chatroom--blue {
        background-color: transparent
    }

    .container-users .users__chatroom_title {
        display: none
    }

    .container-users .users__chatroom--light-gray {
        background-color: transparent
    }

    .container-users .userarea {
        display: block;
        float: none;
        margin: 0 auto;
        background-color: transparent;
        padding-top: 42px
    }

    .container-users .userarea__user-list-name {
        color: #fff
    }

    .container-users .userarea__users {
        width: 100%;
        max-width: 100%;
        height: auto;
        min-height: 100px;
        padding-top: 0;
        padding-bottom: 0
    }

    .container-users .userarea__users--p-m-left {
        padding-left: 0;
        margin-left: 0
    }
}

.footer {
    background-color: #1F1F1F;
    width: 100%;
    height: 108px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 33.3%
}

.footer__form {
    width: 100%;
    display: flex;
    justify-content: center
}

.footer__message {
    border: none;
    border-radius: 20px;
    color: #939393;
    background-color: #3c3c3c;
    padding: 14px;
    padding-left: 33px;
    width: 100%
}

.footer__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: -50px;
    padding-top: 4px
}

.footer__flex-box {
    display: flex;
    align-items: center;
    width: 841px
}

.footer__img {
    display: none
}

@media screen and (max-width: 1201px) {
    .footer {
        padding-left: 0;
        padding-left: 20px;
        padding-right: 20px
    }

    .footer__form {
        display: none
    }

    .footer__img {
        width: 16.3pt;
        color: #A6A6A6;
        padding-bottom: 8px;
        display: flex;
        cursor: pointer
    }

    .footer__img--users {
        margin-left: 124px
    }

    .footer__img--logout {
        margin-left: 107px
    }
}

header {
    height: 109px;
}
footer{
    height: 107px;
}
.container-el {
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 141px - 108px)
}

.container-el .nickname {
    width: 50%;
    float: left;
    padding-top: 277px
}

.container-el .nickname__input {
    border: none;
    border-radius: 25px;
    background-color: #3C3C3C;
    color: #fff;
    height: 34px;
    padding: 24px;
    width: 371px
}

.container-el .nickname__flex-box {
    display: flex
}

.container-el .nickname__button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-left: -50px;
    cursor: pointer
}

.container-el .change {
    width: 49%;
    float: left;
    padding-top: 206px
}

.container-el .change .information {
    font-family: Arial, sans-serif;
    color: #606060;
    font-size: 33px
}

.container-el .message_failed {
    padding: 10px;
    padding-left: 20px;
    font-family: Arial, sans-serif;
    color: #FF6464
}

body {
    background-color: #E3E3E3
}

@media screen and (max-width: 1200px) {
    .container-el {
        padding-top: 0px
    }

    .container-el .change {
        float: none;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 15px
    }

    .container-el .change .information {
        font-size: 20px
    }

    .container-el .nickname {
        float: none !important;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 77px
    }

    body {
        background-color: #292929
    }
}