.w-375 {
    max-width: 375px;
    width: 100%;
}

header {
    height: 109px;
}
body{
    /* zorgt ervoor dat je geen scrollbar heeft om body */
    overflow-y: hidden
}
.chat-container {

    overflow: hidden;
    justify-content: center;
    align-items: center;
    
}

.chat-list {
    height: 80vh;
    /* overflow-y: scroll; */
    /* scrollbar moet ik nog testen of mobiel of die nog scrollt als ik overflow-y uit zet */
    overflow-x: hidden;
}

.message-form {
    display: flex;
    width: 100%;
    bottom: 0;
}

.message-info {
    text-align: center;
    color: #fff;
    font-size: .8rem;
    background-color: #888;
    width: 150px;
    border-radius: 30px;
    margin: 10px auto;
}

.message {
    
    position: relative;
    display: block;
    background-color: #454545;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px;
    color: white;
    width: 264px;
    height: 87px;
}

.message-self {
    background-color: #007EF4;
    color: #fff;
    margin-left: auto;
}

.message-username {
    font-size: .8rem;
}

.message-text {
    display: block;
    padding: 5px;
}
.message-time {
    position: absolute;
    left: 190px;
    bottom: 5px;
   
    
}
.room-item:hover{
    cursor: pointer;
    background-color: #707070;
    transition: .5s;
}

.message-input {
    flex: 3;
    padding: 0 5px;
}




@media screen and (max-width: 1024px) {
    .chat {
        width: 100vw;
    }
    .mobile-input{
        display: none;
    }
    .room-item:hover {
        cursor: pointer;
        background-color: #1F1F1F;
        transition: .5s;
    }.room-item{
        background-color: #2B2B2B;
    }
}
/* message  holder */
.holder {
    margin: 0 auto;
}
/* @media screen and (min-width: 768px) {
 
    .chat-container {
   
  
        
        display: flex;
        overflow: hidden;

        align-items: center;
        
    }
} */