.test{
    background-color: none;
}

.statuscontainer{
    display: flex;
    max-width: 383px;
    width: 100%;
   margin: 40px;

}

#user li {
    list-style-image: url('../img/status.png');
    z-index: 999;
    list-style-position: inside;
  }
  
    